footer(id='footer' class='footer')
    .container
        .footer-notes
            p.text-center ServeJSON is released under the MIT License and is <a href="https://github.com/search?utf8=✓&q=user%3Afelipefdl+servejson&type=Repositories" target="_blank">Open Source</a>.
