head
    meta(name='fragment' content='!')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='author' content='Koshoo')
    meta(id='meta_description' name='description' content='ServeJSON is an open source product, made to help you to create prototypes or any other use when using REST with json response.')
    meta(id='meta_title' property='og:title' content='ServeJSON')
    meta(property='og:type' content='article')
    meta(property='og:url' content='http://www.servejson.com/')
    meta(property='og:image' content='http://www.sevejson.com/img/apple-touch-icon-144-precomposed.png')
    meta(id='meta_seo_description' property='og:description' content='ServeJSON is an open source product, made to help you to create prototypes or any other use when using REST with json response.')
    meta(property='og:site_name' content='ServeJSON')

    title(id='title') ServeJSON
