header(id='header' class='site-header')
    .container
        .div_header
            a(href='/')
                //- img(src='')
                p.logotypetext { }
                p.logotext ServeJSON
