div(class='container container-template' id='loading_page')
    .row
        .col-md-2
        .col-md-8
            .servejson_main_div
                .loading_div
                    img(src='/images/ajax-loader.gif')
        .col-md-2
