link(rel='shortcut icon' href='/images/favicon.png')
link(rel='apple-touch-icon-precomposed' size='144x144' href='/images/apple-touch-icon-144-precomposed.png')

link(rel='stylesheet' href='/styles/bootstrap.min.css')
link(rel='stylesheet' href='/styles/main.css')
