div(class='container')
    .row(ng-controller='jsonlist')
        .col-md-2
        .col-md-8
            .servejson_main_div
                .servejson_space_div
                    .row
                        .col-md-12
                            h1.servejson_title Latest json registered
                .servejson_space_div
                    div(class='servejson_jsonlist')
                        table(class='table table-striped table-bordered')
                            tr(ng-repeat="route in routes")
                                td(ng-cloak) {{route.type.toUpperCase()}}
                                td(ng-cloak) http://{{route.subdomain}}.servejson.com/{{route.route}}
        .col-md-2
