div(class='container')
    .row
        .col-md-2
        .col-md-8
            .servejson_main_div_small
                .servejson_space_div
                    .row
                        .col-md-12
                            h1.servejson_title Welcome
                .servejson_space_div.servejson_textright_div
                    p ServeJSON is an open source product, made to help you to create prototypes or any other use when using REST with json response.
        .col-md-2
