doctype html
html(lang="en" ng-app="servejson" ng-controller="mainController")
    include partials/head
    include partials/styles
    body
        include partials/header
        .container
            include partials/loading_page

            //- Includes contents
            .container-template
                include content/welcome
                include content/newjson
                include content/listjson

            include partials/footer
        include partials/scripts
