.row
    .col-md-9(role='main')
        form(role='form')
            .form-group
                label Type
                select
                    option(value='get') GET
            .form-group
                label Route
                input(type='text')

div(id='editor') {"hello": "world"}
